<a href="https://colab.research.google.com/github/ah33333777/github-pages-with-jekyll/blob/master/Titanic_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#import numpy as np
##
##MAKE SURE TO UPLOAD "test.csv" and "train.csv" from Kaggle before running the code. 
##

import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [6]:
#training data
train = pd.read_csv('train.csv', usecols = ['Survived','Sex','Pclass','Age','SibSp'], sep=',')
#test = pd.read_csv('test.csv', usecols = ['Sex','Pclass','Age','SibSp'], sep=',')
result = train['Survived']

train['Sex'] = train['Sex'].apply(lambda x: 1 if x == 'male' else 0)
train['Class_1'] = train['Pclass'].apply(lambda x: 1 if x == 1 else 0)
train['Class_2'] = train['Pclass'].apply(lambda x: 1 if x == 2 else 0)
train['Class_3'] = train['Pclass'].apply(lambda x: 1 if x == 3 else 0)
#train['Age'] = train['Age'].apply(lambda x: 1 if x < 12 else 0) 
train['Age'] = train['Age'].fillna(train['Age'].mean())
train['Elderly'] = train['Age'].apply(lambda x: 1 if x > 65 else 0)
train['SibSp'] = train['Age'].apply(lambda x: 1 if x > 0 else 0) 

train = train[['Sex','Class_1','Class_2','Age','Class_3', 'SibSp', 'Elderly']]

train.head(15)

    Sex  Class_1  Class_2        Age  Class_3  SibSp  Elderly
0     1        0        0  22.000000        1      1        0
1     0        1        0  38.000000        0      1        0
2     0        0        0  26.000000        1      1        0
3     0        1        0  35.000000        0      1        0
4     1        0        0  35.000000        1      1        0
5     1        0        0  29.699118        1      1        0
6     1        1        0  54.000000        0      1        0
7     1        0        0   2.000000        1      1        0
8     0        0        0  27.000000        1      1        0
9     0        0        1  14.000000        0      1        0
10    0        0        0   4.000000        1      1        0
11    0        1        0  58.000000        0      1        0
12    1        0        0  20.000000        1      1        0
13    1        0        0  39.000000        1      1        0
14    0        0        0  14.000000        1      1        0

In [7]:
#test data to be submitted 

test = pd.read_csv('test.csv', usecols = ['Sex','Pclass','Age','SibSp'], sep=',')
test['Sex'] = test['Sex'].apply(lambda x: 1 if x == 'male' else 0)
test['Class_1'] = test['Pclass'].apply(lambda x: 1 if x == 1 else 0)
test['Class_2'] = test['Pclass'].apply(lambda x: 1 if x == 2 else 0)
test['Class_3'] = test['Pclass'].apply(lambda x: 1 if x == 3 else 0)
#test['Age'] = test['Age'].apply(lambda x: 1 if x < 12 else 0) 
test['Age'] = test['Age'].fillna(test['Age'].mean())
test['Elderly'] = test['Age'].apply(lambda x: 1 if x > 65 else 0)
test['SibSp'] = test['Age'].apply(lambda x: 1 if x > 0 else 0) 
test = test[['Sex','Class_1','Class_2','Age','Class_3', 'SibSp', 'Elderly']]
#pred_dataframe = test['PassengerId']
print(test)
#training model
X_train, X_test, y_train, y_test = train_test_split(train, result, test_size = 0.2, random_state = 100)

model = LogisticRegression(random_state = 25)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
predictions = model.predict(test)
#print(classification_report(y_test, predictions))
#print(predictions)
#print(test.columns)
#print(model.coef_)


test.head()

final_test = pd.read_csv('test.csv', usecols = ['PassengerId'], sep=',')
final_test['Survived'] = predictions
final_test.to_csv('my2predictions.csv', index = False)

print(final_test)

     Sex  Class_1  Class_2       Age  Class_3  SibSp  Elderly
0      1        0        0  34.50000        1      1        0
1      0        0        0  47.00000        1      1        0
2      1        0        1  62.00000        0      1        0
3      1        0        0  27.00000        1      1        0
4      0        0        0  22.00000        1      1        0
..   ...      ...      ...       ...      ...    ...      ...
413    1        0        0  30.27259        1      1        0
414    0        1        0  39.00000        0      1        0
415    1        0        0  38.50000        1      1        0
416    1        0        0  30.27259        1      1        0
417    1        0        0  30.27259        1      1        0

[418 rows x 7 columns]
0.7932960893854749
     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]